---
import Layout from '@layouts/Layout.astro';
import BlogPagination from '@components/blog/Pagination.astro';
import { getNumPages } from '@utils/wordpress';

import '@styles/views/blog.css';

const { page } = Astro.params;

const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/posts?_fields=id,title,slug,date,excerpt&page=${page}`);

const [posts, pageCount] = await Promise.all([res.json(), getNumPages('posts')]);

export async function getStaticPaths() {
	let pageCount = await getNumPages( 'post' );
	let routes = [];

	for ( var i = 2; i <= pageCount; i++ ) {
		routes.push({
			params: { page: i }
		});
	}

	return routes;
}
---

<Layout title="Blog">
	<section class="page-content">
		<h1 class="page-title">Things I've Written</h1>
		{
			posts.map((post: { slug: string; title: { rendered: string; }; date: string; excerpt: { rendered: string } }) => (
				<article class="blog-post">
					<a href={`/blog/${post.slug}/`} class="blog-post-link">
						<h2 class="blog-post-title" set:html={post.title.rendered} />
						<p class="blog-post-date" set:html={new Date(post.date).toLocaleDateString()} />
						<div class="blog-post-excerpt" set:html={post.excerpt.rendered} />
					</a>
				</article>
			))
		}
		<BlogPagination pagecount={pageCount} />
	</section>
</Layout>
